.cards {
    margin-left: 50px !important;
    margin-right: 50px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    justify-content: center;
    border: 1px solid #ebebeb !important;
    border-radius: 5px !important;
}

.card:hover {
    border-color: rgb(115, 49, 186);
}

.list-group-flush{
    border: 1px solid #ebebeb !important;
}
.card-btn-div{
    display: flex;
    justify-content: flex-end;
}

.card-btn {
    border-radius: 50px !important;
    background-color: rgb(115, 49, 186);
    border-color: rgb(115, 49, 186);

    &:focus {
        background-color: rgb(115, 49, 186) !important;
        border-color: rgb(115, 49, 186) !important;
        box-shadow: 0 0 3px 0 rgb(115, 49, 186) !important;
    }

    &:not(:focus) {
        background-color: rgb(115, 49, 186);
        border-color: rgb(115, 49, 186);
        box-shadow: 0 0 3px 0 rgb(115, 49, 186) !important;
    }
}

.card-btn:hover {
    background-color: rgb(115, 49, 186);
    border-color: rgb(115, 49, 186);
    box-shadow: 0 0 3px 0 rgb(115, 49, 186) !important;

}

.card-btn:active {
    background-color: rgb(115, 49, 186);
    border-color: rgb(115, 49, 186);
    box-shadow: 0 0 3px 0 rgb(115, 49, 186) !important;
}

.card-btn:focus {
    background-color: rgb(115, 49, 186);
    border-color: rgb(115, 49, 186);
    box-shadow: 0 0 3px 0 rgb(115, 49, 186) !important;
}

.icon-button, #basic-button {
    color:black !important;
    border:0;
    background-color: white !important;
    box-shadow: none !important;
    &:focus{
        box-shadow: none !important;
        transition: none !important;
    }
    &:not(:focus) {
        box-shadow: none !important;
    }
}
#basic-menu{
    box-shadow:none !important;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
    border: 0 !important;
    box-shadow: none !important;
}

@media(max-width:992px) {
    .e-learn-logo {
        height: 45px;
        margin-top: 5px;
        margin-right: 5px;
    }
}
